<% if design_counter % 3 == 0 %>
  <div class="row">
<% end %>

<%= content_tag :div, class: 'col-md-4' do %>
  <%= content_tag :div, class: 'thumbnail' do %>
    <%= link_to(
            image_tag(design.variants.first.variant_swatch_images.first.file.url(:large)),
            design_path(design)
        )
    %>
    <%= content_tag :h3, link_to(design.name, design_path(design)) %>
    <%= content_tag :h4, design.sku %>
  <% end %>
<% end %>

<% if design_counter % 3 == 2 || design_counter + 1 == @collection.designs.count %>
  </div>
<% end %>
