<%= paginate @designs %>

<%= content_tag :div, class: 'designs' do %>
  <% @designs.each do |design| %>
    <%= content_tag :div, class: 'row' do %>
      <% design.variants.each do |variant| %>
        <%= content_tag :div, class: 'col-md-3' do %>
          <%= image_tag(variant.variant_swatch_images.first.file.url(:small)) %>
        <% end %>
      <% end %>
      <%= content_tag :div, class: 'col-md-12' do %>
      <p><%= link_to(design.name, design_path(design)) %></p>
        <% end %>
    <% end %>
  <% end %>
<% end %>
<%= paginate @designs %>
