<% content_for :header_left do %>
  <%= content_tag :h1, link_to('Clients', admin_clients_path) %>
<% end %>

<% content_for :header_right do %>
    <%= link_to 'New Client', new_admin_client_path, class: 'btn btn-success' %>
<% end %>

<%= render partial: 'admin/shared/header' %>

<%= content_tag :div do %>

  <% if @clients.any? %>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Domain</th>
            <th class="actions"></th>
          </tr>
          </thead>

          <tbody>
          <% @clients.each do |client| %>
              <tr class="client_property fields" data-item-id=<%= "#{client.id}" %> data-hook="client">
                <td><%= client.name %></td>
                <td><%= client.domain %></td>
                <td class="actions">
                  <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                    <%= edit_button edit_admin_client_path client %>
                    <%= delete_button admin_client_path client %>
                  </div>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

  <% else %>
    <p>No clients found. <%= link_to 'Create one.', new_admin_client_path %></p>
  <% end %>

<% end %>
