<% content_for :header_left do %>
  <%= content_tag :h1, link_to('Backing Types', admin_backing_types_path) %>
<% end %>

<% content_for :header_right do %>
    <%= link_to 'New Backing Type', new_admin_backing_type_path, class: 'btn btn-success' %>
<% end %>

<%= render partial: 'admin/shared/header' %>

<div>

  <% if @backing_types.any? %>

      <div class="table-responsive">
        <table class="table table-striped" data-hook>
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th class="actions"></th>
          </tr>
          </thead>

          <tbody>
          <% @backing_types.each do |backing_type| %>
              <tr class="backing_property fields" data-hook="backing_type">
                <td><%= backing_type.name %></td>
                <td><%= truncate(sanitize(backing_type.description), length: 140) %></td>
                <td class="actions">
                  <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                    <%= edit_button edit_admin_backing_type_path backing_type %>
                    <%= delete_button admin_backing_type_path backing_type %>
                  </div>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <%= paginate @backing_types %>

  <% else %>
    <p>No backing types found. <%= link_to 'Create one.', new_admin_backing_type_path %></p>
  <% end %>

</div>
