<%= content_tag :div, class: ['form-group'] do %>
  <%= f.label :product_type_group_id, 'Product Type Group' %> <span class="required">*</span>
  <%= f.collection_select :product_type_group_id, @product_type_groups, :id, :name, { prompt: 'Select' }, { required: true, class: 'form-control' } %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :name, 'Name' %> <span class="required">*</span>
    <%= f.text_field :name, required: true, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :description, 'Description' %> <span class="required">*</span>
    <%= f.text_area :description, rows: 6, required: true, class: 'form-control' %>
<% end %>
