<% content_for :header_left do %>
  <%= content_tag :h1, [link_to('Product Data Export', fedex_export_by_sku_admin_product_exports_path), 'Export for FedEx CrossBorder by SKU'].join(' / ').html_safe %>
<% end %>

<%= render partial: 'admin/shared/header' %>

<%= content_tag :div, class: 'export_form' do %>
  <%= content_tag :div, class: 'row' do %>

    <%= content_tag :div, class: 'col-md-9' do %>

      <p class="help-block">
        Enter a comma-separated list of design SKUs, and submit to download a CSV file of the selected
        designs' data for export to FedEx CrossBorder.
      </p>

      <%= form_tag generate_fedex_skus_csv_admin_product_exports_path, method: :get do %>
        <%= hidden_field_tag 'website_id', @website_id %>

        <%= content_tag :div, class: 'col-md-6' do %>
          <%= content_tag :div, class: 'form-group' do %>
            <%= label_tag 'design_skus', 'Design SKUs' %> <span class="required">*</span>
            <%= text_field_tag 'design_skus', nil, { id: 'design_skus', class: 'form-control', required: true, autocomplete: 'off' } %>
          <% end %>
        <% end %>

        <%= content_tag :div, { class: 'col-md-2', id: 'product-export-submit-container' } do %>
          <%= submit_button %>
        <% end %>
      <% end %>

    <% end %>

    <%= content_tag :div, class: 'col-md-3' do %>
      <%= render partial: 'fedex_subnav', locals: { current: 'by_sku' } %>
    <% end %>

  <% end %>
<% end %>
