<% content_for :header_left do %>
    <%= content_tag :h1,
                    [link_to('Categories', admin_categories_path),
                     link_to(@category.name, edit_admin_category_path(@category)),
                     'Images'].join(' / ').html_safe %>
<% end %>

<% content_for :header_right do %>
    <%= link_to 'New Image', new_admin_category_category_image_path(@category), class: 'btn btn-success' %>
<% end %>

<%= render partial: 'admin/shared/header' %>

<%= content_tag :div, class: 'col-md-9' do %>

  <% if @category.category_images.any? %>

      <div class="table-responsive">
        <table class="table table-striped sortable" data-hook data-sortable-link="<%= update_row_order_admin_category_category_images_path %>" data-position-start="<%= @position_start %>">
          <thead>
          <tr>
            <th class="move-handle"></th>
            <th>Image</th>
            <th class="actions"></th>
          </tr>
          </thead>

          <tbody>
          <% @category.category_images.each do |image| %>
              <tr class="category_image fields" data-item-id="<%= image.id %>" data-hook="category_image">
                <td class="move-handle text-center">
                  <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                </td>
                <td><%= image_tag(image.file.url(:thumb)) %></td>

                <td class="actions">
                  <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                    <%= delete_button admin_category_category_image_path @category, image %>
                  </div>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

  <% else %>
      <p>No images found. <%= link_to 'Create one.', new_admin_category_category_image_path %></p>
  <% end %>

<% end %>

<%= content_tag :div, class: 'col-md-3' do %>
    <%= render partial: 'admin/categories/subnav', locals: { current: 'images' } %>
<% end %>
