
<h1>Error Importing Products from CSV File</h1>

<p>An error occurred while importing product data for the collection <%= @item.collection %>:</p>
<p>Design: <%= @item.design_name %> (<%= @item.design_sku %></p>
<p>Variant: <%= @item.variant_name %> (<%= @item.variant_sku %></p>
<p>CSV file: <%= @csv_url %></p>
