<p id="notice"><%= notice %></p>

<h1>Listing Admin Substrate Categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_substrate_categories.each do |admin_substrate_category| %>
      <tr>
        <td><%= link_to 'Show', admin_substrate_category %></td>
        <td><%= link_to 'Edit', edit_admin_substrate_category_path(admin_substrate_category) %></td>
        <td><%= link_to 'Destroy', admin_substrate_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Substrate category', new_admin_substrate_category_path %>
