<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Astek Catalog :: Admin</title>

  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<%= content_tag :nav, class: 'navbar navbar-inverse navbar-fixed-top' do %>
    <%= content_tag :div, class: 'container-fluid' do %>
        <%= content_tag :div, class: 'navbar-header' do %>
            <%= button_tag type: 'button', class: 'navbar-toggle collapsed', 'data-toggle': 'collapse', 'data-target': '#navbar', 'aria-expanded': false, 'aria-controls': 'navbar' do %>
                <%= content_tag :span, 'Toggle navigation', class: 'sr-only' %>
                <%= content_tag :span, nil, class: 'icon-bar' %>
                <%= content_tag :span, nil, class: 'icon-bar' %>
                <%= content_tag :span, nil, class: 'icon-bar' %>
            <% end %>
            <%= link_to 'Astek Inc Product Catalog', root_path, class: 'navbar-brand' %>
        <% end %>

        <% if user_signed_in? %>
            <%= content_tag :div, id: 'navbar', class: 'collapse navbar-collapse' do %>
                <%= content_tag :ul, class: 'nav navbar-nav navbar-right' do %>
                    <%= content_tag :li, link_to('Sign Out', destroy_user_session_path, method: :delete) %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% end %>

<%= content_tag :div, class: 'container-fluid' do %>
  <%= content_tag :div, class: 'row' do %>

    <% if user_signed_in? %>
      <% main_div_class = 'col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main' %>

      <%= content_tag :div, class: 'col-sm-3 col-md-2 sidebar' do %>

        <%= content_tag :div, id: 'sidebar-menu' do %>
          <%= content_tag :div, class: 'panel list-group nav-sidebar' do %>
            <%#= nav_link 'Users', 'user', admin_users_path %>

            <%= subnav_group_header 'Configuration', 'wrench', '#configs' %>
            <div id="configs" class="sublinks collapse">
              <%= nav_sublink 'Users', admin_users_path %>
              <%= nav_sublink 'Websites', admin_websites_path %>
              <%= nav_sublink 'Vendors', admin_vendors_path %>
              <%= nav_sublink 'Variant Types', admin_variant_types_path %>
              <%= nav_sublink 'Properties', admin_properties_path %>
              <%= nav_sublink 'Colors', admin_colors_path %>
              <%= nav_sublink 'Styles', admin_styles_path %>
              <%= nav_sublink 'Sale Units', admin_sale_units_path %>
            </div>

            <%#= subnav_group_header 'Tasks', 'tag', '#sl' %>
            <!--<div id="sl" class="sublinks collapse">-->
              <!--<a class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span> saved tasks</a>-->
              <!--<a class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span> add new task</a>-->
            <!--</div>-->

            <%= subnav_group_header 'Product Types', 'tag', '#product-types' %>
            <%= content_tag :div, id: 'product-types', class: 'sublinks collapse' do %>
              <%= nav_sublink 'Product Categories', admin_product_categories_path %>
              <%= nav_sublink 'Product Types', admin_product_types_path %>
            <% end %>

            <%= subnav_group_header 'Materials', 'circle-arrow-down', '#materials' %>
            <%= content_tag :div, id: 'materials', class: 'sublinks collapse' do %>
              <%= nav_sublink 'Substrates', admin_substrates_path %>
              <%= nav_sublink 'Substrate Categories', admin_substrate_categories_path %>
              <%= nav_sublink 'Backing Types', admin_backing_types_path %>
            <% end %>

            <%= nav_link 'Collections', 'book', admin_collections_path %>
            <%= nav_link 'Designs', 'blackboard', admin_designs_path %>

            <%= nav_link 'Product Exports', 'export', admin_product_exports_path %>

          <% end %>
        <%end %>

      <% end %>

    <% else %>
      <% main_div_class = 'col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 main' %>
    <% end %>

    <%= content_tag :div, class: main_div_class do %>

      <%= content_tag :div, class: 'row' do %>
        <%= yield %>
      <% end %>

    <% end %>

  <% end %>
<% end %>

</body>
</html>
