
<%#= content_tag :div, class: ['row'] do %>
  <%#= content_tag :div, class: 'col-md-6' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label(:name, 'Name <span class="required">*</span>'.html_safe) %>
      <%= f.text_field :name, required: true, class: 'form-control' %>
    <% end %>
  <%# end %>
<%# end %>

<%#= content_tag :div, class: ['form-group'] do %>
  <%#= f.label(:name, 'Description') %>
  <%#= f.text_area :description, rows: 6, class: 'form-control' %>
<%# end %>

<%#= content_tag :div, class: ['form-group'] do %>
  <%#= f.label(:name, 'Keywords') %>
  <%#= f.text_area :keywords, rows: 3, class: 'form-control' %>
<%# end %>

<%= content_tag :div, class: 'panel panel-default' do %>
  <%= content_tag :div, 'Websites', class: 'panel-heading' %>
    <%= content_tag :div, class: 'panel-body' do %>

      <%= collection_check_boxes(:substrate, :website_ids, @websites, :id, :name) do |b| %>
        <%= content_tag :div, class: 'checkbox-inline' do %>
          <%= b.label() { b.check_box + b.text } %>
        <% end %>
      <% end %>

  <% end %>
<% end %>

<%#= content_tag :div, class: 'panel panel-default' do %>
  <%#= content_tag :div, 'Website Display Values', class: 'panel-heading' %>

  <%#= content_tag :div, class: 'panel-body' do %>

    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :display_name, 'Display Name' %>
      <%= f.text_field :display_name, class: 'form-control' %>
    <% end %>

    <%#= content_tag :div, class: ['form-group'] do %>
      <%#= f.label(:name, 'Display Description') %>
      <%#= f.text_area :display_description, rows: 6, class: 'form-control' %>
    <%# end %>

  <%# end %>
<%# end %>

<%= field_set_tag nil, 'data-hook': 'substrate_edit' do %>
  <%= content_tag :div, class: 'panel panel-default' do %>
    <%= content_tag :div, 'Categories', class: 'panel-heading' %>
    <%= content_tag :div, class: 'panel-body' do %>
      <%= collection_check_boxes(:substrate, :substrate_category_ids, @substrate_categories, :id, :name) do |b| %>
        <%= content_tag :div, class: 'checkbox-inline' do %>
          <%= b.label() { b.check_box + b.text } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag :div, class: 'row' do %>
  <%= content_tag :div, class: 'col-md-6' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :backing_type, 'Backing Type' %>
      <%= f.collection_select :backing_type_id, BackingType.all, :id, :name, { include_blank: 'Select' }, { class: 'form-control' } %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: 'col-md-6' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :weight_per_square_foot, 'Weight Per Square Foot in Pounds' %> <span class="required">*</span>
      <%= f.number_field :weight_per_square_foot, required: true, class: 'form-control', min: '.1', step: '.05' %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag :div, class: ['row'] do %>
  <%= content_tag :div, class: 'col-md-6' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= content_tag :div, class: ['checkbox'], id: 'default_custom_material_group' do %>
        <%= f.label :default_custom_material_group do %>
          <%= f.check_box :default_custom_material_group %> Default custom material group
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: 'col-md-6' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :price, 'Custom Material Surcharge' %> <span class="required">*</span>
      <%= f.text_field :custom_material_surcharge, value: number_to_currency(f.object.custom_material_surcharge.to_f, delimiter: '', unit: ''), required: false, class: 'form-control' %>
    <% end %>
  <% end %>
<% end %>
