
<%= content_tag :div, class: ['form-group'] do %>
  <%= f.label(:name, 'Name <span class="required">*</span>'.html_safe) %>
  <%= f.text_field :name, required: true, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
  <%= f.label(:name, 'Description <span class="required">*</span>'.html_safe) %>
  <%= f.text_area :description, rows: 9, required: true, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
  <%= f.label(:name, 'Keywords <span class="required">*</span>'.html_safe) %>
  <%= f.text_area :keywords, rows: 3, required: true, class: 'form-control' %>
<% end %>

<% if @substrate.persisted? %>
  <%= content_tag :div, class: ['form-group'] do %>
    <%= f.label(:name, 'Slug <span class="required">*</span>'.html_safe) %>
    <%= f.text_field :slug, required: true, class: 'form-control' %>
  <% end %>
<% end %>

<%= field_set_tag nil, 'data-hook': 'substrate_edit' do %>
  <%= content_tag :div, class: 'panel panel-default' do %>
    <%= content_tag :div, 'Product Types', class: 'panel-heading' %>
    <%= content_tag :div, class: 'panel-body' do %>
      <%= collection_check_boxes(:substrate, :substrate_category_ids, @substrate_categories, :id, :name) do |b| %>
        <%= content_tag :div, class: 'checkbox-inline' do %>
          <%= b.label() { b.check_box + b.text } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%#= debug @substrate.substrate_categories %>
<% end %>
