<% content_for :header_left do %>
  <%= content_tag :h1, [
      'Substrates'
  ].join(' / ').html_safe %>
<% end %>

<% content_for :header_right do %>
  <%= link_to 'New Substrate', new_admin_substrate_path, class: 'btn btn-success' %>
<% end %>

<%= render partial: 'admin/shared/header' %>

<%= content_tag :div, class: 'row' do %>
  <%= content_tag :div, class: 'col-md-12' do %>

    <% if @substrates.any? %>

      <%= paginate @substrates %>
      
      <%= content_tag :div, class: 'table-responsive' do %>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Display Name</th>
            <th>Description</th>
            <th>Backing Type</th>
            <th>Weight Per Square Foot</th>
            <th class="actions"></th>
          </tr>
          </thead>

          <tbody>
          <% @substrates.each do |substrate| %>
            <tr class="product_property fields" data-hook="substrate">
              <td><%= substrate.name %></td>
              <td><%= substrate.display_name %></td>
              <td><%= truncate(sanitize(substrate.description), length: 90) %></td>
              <td><%= substrate.backing_type.name unless substrate.backing_type.nil? %></td>
              <td><%= substrate.weight_per_square_foot %></td>
              <td class="actions">
                <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                  <%= edit_button edit_admin_substrate_path substrate %>
                  <%= delete_button admin_substrate_path substrate %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>

      <%= paginate @substrates %>

    <% else %>
      <p>No substrates found. <%= link_to 'Create one.', new_admin_substrate_path %></p>
    <% end %>

  <% end %>
<% end %>
