<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_substrate.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_substrate.description %>
</p>

<%= link_to 'Edit', edit_admin_substrate_path(@admin_substrate) %> |
<%= link_to 'Back', admin_substrates_path %>
