<%= f.hidden_field :variant_id, value: @variant.id %>

<% if @design.digital? %>
  <%#= field_set_tag nil, 'data-hook': 'stock-item' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :substrate_id, 'Substrate' %> <span class="required">*</span>
      <%= f.collection_select :substrate_id, @substrates, :id, :name, { prompt: 'Select' }, { required: true, class: 'form-control' } %>
    <% end %>
  <%# end %>
<% end %>

<% unless @design.digital? %>
  <%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :backing_type_id, 'Backing' %>
    <%= f.collection_select :backing_type_id, @backing_types, :id, :name, { prompt: 'Select' }, { required: false, class: 'form-control' } %>
  <% end %>
<% end %>

<%= content_tag :div, class: 'row' do %>
  <%= content_tag :div, class: 'col-md-3' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :price_code, 'Price Code' %>
      <%= f.text_field :price_code, class: 'form-control' %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: 'col-md-3' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :price, 'Retail Price' %>
      <%= f.text_field :price, value: number_to_currency(f.object.price.to_f, delimiter: '', unit: ''), required: false, class: 'form-control' %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: 'col-md-3' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :sale_price, 'Sale Price' %>
      <%= f.text_field :sale_price, value: number_to_currency(f.object.sale_price.to_f, delimiter: '', unit: ''), required: false, class: 'form-control' %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: ['col-md-3'] do %>
    <%= content_tag :div, class: ['checkbox'], id: 'display-sale-price' do %>
      <%= f.label :display_sale_price do %>
        <%= f.check_box :display_sale_price %> Show sale price on sites
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag :div, class: 'row' do %>
  <%= content_tag :div, class: 'col-md-4' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :sale_unit, 'Sale Unit' %>
      <%= f.collection_select :sale_unit_id, SaleUnit.all, :id, :name, { prompt: 'Select' }, { required: false, class: 'form-control' } %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: 'col-md-4' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :sale_quantity, 'Sale Quantity' %>
      <%= f.number_field :sale_quantity, required: false, class: 'form-control' %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: 'col-md-4' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :minimum_quantity, 'Minimum Order' %>
      <%= f.number_field :minimum_quantity, required: false, class: 'form-control' %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag :div, class: 'row' do %>
  <%= content_tag :div, class: 'col-md-3' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :weight, 'Weight in Pounds' %>
      <%= f.text_field :weight, required: false, class: 'form-control' %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: 'col-md-3' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :width, 'Package Width in Inches' %>
      <%= f.text_field :width, required: false, class: 'form-control' %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: 'col-md-3' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :height, 'Package Height in Inches' %>
      <%= f.text_field :height, required: false, class: 'form-control' %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: 'col-md-3' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :depth, 'Package Depth in Inches' %>
      <%= f.text_field :depth, required: false, class: 'form-control' %>
    <% end %>
  <% end %>
<% end %>

<%= field_set_tag nil, 'data-hook': 'collection-websites' do %>
  <%= content_tag :div, class: 'panel panel-default' do %>
    <%= content_tag :div, 'Websites', class: 'panel-heading' %>
    <%= content_tag :div, class: 'panel-body' do %>
      <%= collection_check_boxes(:stock_item, :website_ids, @websites, :id, :name) do |b| %>
        <%= content_tag :div, class: 'checkbox-inline' do %>
          <%= b.label() { b.check_box({ disabled: @variant.websites.map { |w| w.id }.exclude?(b.value) }) + b.text } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

