<%= f.hidden_field :collection_id, value: @collection.id %>

<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :name, 'Name' %> <span class="required">*</span>
    <%= f.text_field :name, required: true, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :description, 'Description' %> <span class="required">*</span>
    <%= f.text_area :description, rows: 9, required: true, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :keywords, 'Keywords' %> <span class="required">*</span>
    <%= f.text_area :keywords, rows: 3, required: true, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: 'row' do %>
    <%= content_tag :div, class: 'col-md-6' do %>
        <%= content_tag :div, class: ['form-group'] do %>
            <%= f.label :available_on, 'Available on' %>
            <%= f.text_field :available_on, value: datepicker_field_value(@design.available_on), class: 'datepicker form-control' %>
        <% end %>
    <% end %>

    <%= content_tag :div, class: 'col-md-6' do %>
        <%= content_tag :div, class: ['form-group'] do %>
            <%= f.label :expires_on, 'Expires on' %>
            <%= f.text_field :expires_on, value: datepicker_field_value(@design.expires_on), class: 'datepicker form-control' %>
        <% end %>
    <% end %>
<% end %>

<% if @design.persisted? %>
    <%= content_tag :div, class: ['form-group'] do %>
        <%= f.label :slug, 'Slug' %> <span class="required">*</span>
        <%= f.text_field :slug, required: true, class: 'form-control' %>
    <% end %>
<% end %>

<%= content_tag :div, class: 'panel panel-default' do %>
  <%= content_tag :div, 'Styles', class: 'panel-heading' %>
  <%= content_tag :div, class: 'panel-body' do %>
    <%= collection_check_boxes(:design, :style_ids, @styles, :id, :name) do |b| %>
      <%= content_tag :div, class: 'checkbox-inline' do %>
        <%= b.label() { b.check_box + b.text } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
