<%= f.hidden_field :collection_id, value: @collection.id %>

<%= content_tag :div, class: 'row' do %>
  <%= content_tag :div, class: ['col-md-4'] do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :sku, 'SKU' %> <span class="required">*</span>
      <%= f.text_field :sku, required: true, class: 'form-control' %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: ['col-md-4'] do %>
    <%= content_tag :div, class: ['checkbox'], id: 'suppress-from-searches' do %>
      <%= f.label :suppress_from_searches do %>
        <%= f.check_box :suppress_from_searches %> Crossover SKU (suppress this item from search results)
      <% end %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: ['col-md-4'] do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :sku, 'Master SKU' %>
      <%= f.text_field :master_sku, class: 'form-control' %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :name, 'Name' %> <span class="required">*</span>
    <%= f.text_field :name, required: true, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
  <%= f.label :keyword_list, 'Keywords' %>
  <%#= f.text_field :keyword_list, value: @design.keyword_list.join(', '), class: 'form-control', "data-role": 'tagsinput' %>
  <%= f.text_field :keyword_list, value: @design.keyword_list.join(', '), class: 'form-control' %>
<% end %>

<%= field_set_tag nil, 'data-hook': 'collection-websites' do %>
  <%= content_tag :div, class: 'panel panel-default' do %>
    <%= content_tag :div, 'Websites', class: 'panel-heading' %>
    <%= content_tag :div, class: 'panel-body' do %>
      <%= collection_check_boxes(:design, :website_ids, @websites, :id, :name) do |b| %>
        <%= content_tag :div, class: 'checkbox-inline' do %>
          <%= b.label() { b.check_box({ disabled: @collection.websites.map { |w| w.id }.exclude?(b.value) }) + b.text } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag :div, class: 'row' do %>
    <%= content_tag :div, class: 'col-md-6' do %>
        <%= content_tag :div, class: ['form-group'] do %>
            <%= f.label :available_on, 'Available on' %>
            <%= f.text_field :available_on, value: datepicker_field_value(@design.available_on), class: 'datepicker form-control', autocomplete: 'new-password' %>
        <% end %>
    <% end %>

    <%= content_tag :div, class: 'col-md-6' do %>
        <%= content_tag :div, class: ['form-group'] do %>
            <%= f.label :expires_on, 'Expires on' %>
            <%= f.text_field :expires_on, value: datepicker_field_value(@design.expires_on), class: 'datepicker form-control', autocomplete: 'new-password' %>
        <% end %>
    <% end %>
<% end %>

<%= content_tag :div, class: 'row' do %>
  <%= content_tag :div, class: ['col-md-6'] do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :vendor_id, 'Vendor' %>
      <%= f.collection_select :vendor_id, Vendor.all, :id, :name, { prompt: 'Select' }, { required: false, class: 'form-control' } %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: 'col-md-6' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :country_id, 'Country of Origin' %>
      <%= f.collection_select :country_id, @countries, :id, :name, { prompt: 'Select' }, { required: false, class: 'form-control' } %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag :div, class: 'row' do %>
  <%= content_tag :div, class: 'col-md-6' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :price_code, 'Price Code' %>
      <%= f.text_field :price_code, class: 'form-control' %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: 'col-md-6' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :price, 'Retail Price' %>
      <%= f.text_field :price, value: number_to_currency(f.object.price.to_f, delimiter: '', unit: ''), required: false, class: 'form-control' %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag :div, class: 'row' do %>
  <%= content_tag :div, class: 'col-md-4' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :sale_unit, 'Sale Unit' %>
      <%= f.collection_select :sale_unit_id, SaleUnit.all, :id, :name, { prompt: 'Select' }, { required: false, class: 'form-control' } %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: 'col-md-4' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :sale_quantity, 'Sale Quantity' %>
      <%= f.number_field :sale_quantity, required: false, class: 'form-control' %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: 'col-md-4' do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :minimum_quantity, 'Minimum Order' %>
      <%= f.number_field :minimum_quantity, required: false, class: 'form-control' %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag :div, class: 'panel panel-default' do %>
  <%= content_tag :div, 'Styles', class: 'panel-heading' %>
    <%= content_tag :div, class: 'panel-body' do %>

      <% column_count = 4.0 %>
      <% item_count = @styles.count %>
      <% divisor = (item_count / column_count).ceil %>
      <% column_class = 'col-md-' + (12 / column_count).round.to_s %>
      <% index = 0 %>

      <%= collection_check_boxes(:design, :style_ids, @styles, :id, :name) do |b| %>

        <% if index % divisor == 0 %>
          <div class="<%= column_class %>">
        <% end %>

        <%= content_tag :div, class: 'checkbox' do %>
          <%= b.label { b.check_box + b.text } %>
        <% end %>

        <% if (index % divisor == divisor - 1) || (index == item_count - 1) %>
          </div>
        <% end %>

        <% index += 1 %>

      <% end %>
    <% end %>
<% end %>
