<%= javascript_tag do %>
    var substrates = <%= @substrates.map { |s| {id: s.id, name: s.formatted_name } }.to_json.html_safe %>;
    var default_custom_material_id = <%=  @default_custom_material.nil? ? 'null' : @default_custom_material.substrate_id %>;
    Astek.custom_materials.init();
<% end %>

<% content_for :header_left do %>
  <%= content_tag :h1, [
      link_to('Collections', admin_collections_path),
      link_to(@collection.name, edit_admin_collection_path(@collection)),
      link_to('Designs', admin_collection_designs_path(@collection)),
      link_to(@design.name, edit_admin_collection_design_path(@collection, @design)),
      'Custom Materials'
  ].join(' / ').html_safe %>
<% end %>

<%= render partial: 'admin/shared/header' %>

<%= content_tag :div, class: 'col-md-9' do %>

  <%= form_for [:admin, @collection, @design] do |f| %>

    <%= content_tag :div, class: 'panel panel-default' do %>
      <%= content_tag :div, class: 'panel-body checkbox-wrapper' do %>
        <%= content_tag :div, class: ['form-group'] do %>
          <%= content_tag :div, class: ['checkbox'], id: 'user-can-select-material' do %>
            <%= f.label :user_can_select_material do %>
              <%= f.check_box :user_can_select_material %> Allow user to select material on websites
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= content_tag :div, class: 'panel panel-default' do %>
      <%= content_tag :div, 'Custom Materials Available for This Design', class: 'panel-heading' %>
      <%= content_tag :div, class: 'panel-body', id: 'material-checkboxes' do %>

        <% column_count = 4.0 %>
        <% item_count = @substrates.count %>
        <% divisor = (item_count / column_count).ceil %>
        <% column_class = 'col-md-' + (12 / column_count).round.to_s %>
        <% index = 0 %>

        <%= collection_check_boxes(:design, :substrate_ids, @substrates, :id, :formatted_name) do |b| %>

          <% if index % divisor == 0 %>
            <div class="<%= column_class %>">
          <% end %>

          <%= content_tag :div, class: 'checkbox' do %>
            <% if b.object.default_custom_material_group? %>
              <%= b.label { b.check_box(class: 'default-group') + b.text } %>
            <% else %>
              <%= b.label { b.check_box + b.text } %>
            <% end %>
          <% end %>

          <% if (index % divisor == divisor - 1) || (index == item_count - 1) %>
            </div>
          <% end %>

          <% index += 1 %>

        <% end %>
      <% end %>
    <% end %>

    <%= content_tag :div, class: ['form-group'] do %>
      <%= label_tag :default_material_id, 'Default Material' %>
      <%= select_tag :default_material_id, options_from_collection_for_select(@substrates, :id, :name),
                     prompt: 'Select', class: 'form-control', id: 'default_material_id', required: true %>
    <% end %>

    <%= form_buttons edit_admin_collection_design_path(@collection, @design) %>

  <% end %>
<% end %>

<%= content_tag :div, class: 'col-md-3' do %>
  <%= render partial: 'admin/collection_designs/subnav', locals: { current: 'custom_materials' } %>
<% end %>
