<%= f.hidden_field :design_id, value: @design.id %>

<%= content_tag :div, class: ['form-group'] do %>
  <%= f.label :variant_type, 'Type' %> <span class="required">*</span>
  <%= f.select :variant_type_id, options_from_collection_for_select(VariantType.all, 'id', 'name', @variant.variant_type_id), { prompt: 'Select' }, { required: true, class: 'form-control' } %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :name, 'Name' %> <span class="required">*</span>
    <%= f.text_field :name, required: true, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :sku, 'SKU' %> <span class="required">*</span>
    <%= f.text_field :sku, required: true, class: 'form-control' %>
<% end %>

<% if @variant.persisted? %>
    <%= content_tag :div, class: ['form-group'] do %>
        <%= f.label :slug, 'Slug' %> <span class="required">*</span>
        <%= f.text_field :slug, required: true, class: 'form-control' %>
    <% end %>
<% end %>

<%= field_set_tag nil, 'data-hook': 'variant_colors' do %>
  <%= content_tag :div, class: 'panel panel-default' do %>
    <%= content_tag :div, 'Colors', class: 'panel-heading' %>
    <%= content_tag :div, class: 'panel-body' do %>
      <%= collection_check_boxes(:variant, :color_ids, @colors, :id, :name) do |b| %>
        <%= content_tag :div, class: 'checkbox-inline' do %>
          <%= b.label() { b.check_box + b.text } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag :div, class: 'panel panel-default' do %>
  <%= content_tag :div, 'Substrates', class: 'panel-heading' %>
  <%= content_tag :div, class: 'panel-body' do %>

    <% column_count = 4.0 %>
    <% item_count = @substrates.count %>
    <% divisor = (item_count / column_count).ceil %>
    <% column_class = 'col-md-' + (12 / column_count).round.to_s %>
    <% index = 0 %>

    <%= collection_check_boxes(:variant, :substrate_ids, @substrates, :id, :name) do |b| %>

      <% if index % divisor == 0 %>
        <div class="<%= column_class %>">
      <% end %>

      <%= content_tag :div, class: 'checkbox' do %>
        <%= b.label { b.check_box + b.text } %>
      <% end %>

      <% if (index % divisor == divisor - 1) || (index == item_count - 1) %>
        </div>
      <% end %>

      <% index += 1 %>

    <% end %>
  <% end %>
<% end %>
