<%= f.hidden_field :design_id, value: @design.id %>

<%= content_tag :div, class: ['form-group'] do %>
  <%= f.label :variant_type, 'Type' %> <span class="required">*</span>
  <%= f.select :variant_type, options_from_collection_for_select(VariantType.all, 'id', 'name', @variant.variant_type_id), { prompt: 'Select' }, { required: true, class: 'form-control' } %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :name, 'Name' %> <span class="required">*</span>
    <%= f.text_field :name, required: true, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :sku, 'SKU' %> <span class="required">*</span>
    <%= f.text_field :sku, required: true, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
  <%= f.label :price_code, 'Price Code' %> <span class="required">*</span>
  <%= f.text_field :price_code, required: true, class: 'form-control' %>
<% end %>

<% if @variant.persisted? %>
    <%= content_tag :div, class: ['form-group'] do %>
        <%= f.label :slug, 'Slug' %> <span class="required">*</span>
        <%= f.text_field :slug, required: true, class: 'form-control' %>
    <% end %>
<% end %>

<%= field_set_tag nil, 'data-hook': 'variant_colors' do %>
  <%= content_tag :div, class: 'panel panel-default' do %>
    <%= content_tag :div, 'Colors', class: 'panel-heading' %>
    <%= content_tag :div, class: 'panel-body' do %>
      <%= collection_check_boxes(:variant, :color_ids, @colors, :id, :name) do |b| %>
        <%= content_tag :div, class: 'checkbox-inline' do %>
          <%= b.label() { b.check_box + b.text } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
