<% content_for :header_left do %>
    <%= content_tag :h1, [
        link_to('Collections', admin_collections_path),
        link_to(@collection.name, edit_admin_collection_path(@collection)),
        link_to('Designs', admin_collection_designs_path(@collection)),
        link_to(@design.name, edit_admin_design_path(@design)),
        'Variants'
    ].join(' / ').html_safe %>
<% end %>

<% content_for :header_right do %>
    <%= link_to 'New Variant', new_admin_design_variant_path(@design), class: 'btn btn-default' %>
<% end %>

<%= render partial: 'admin/shared/header' %>

<%= content_tag :div, class: 'row' do %>
    <%= content_tag :div, class: 'col-md-9' do %>

        <% if @variants.any? %>
            <%= content_tag :div, class: 'table-responsive' do %>
                <table class="table table-striped sortable" data-hook data-sortable-link="<%= update_row_order_admin_design_variants_path %>" data-position-start="<%= @position_start %>">
                  <thead>
                  <tr>
                    <th class="move-handle"></th>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>SKU</th>
                    <th class="actions"></th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @variants.each do |variant| %>
                      <tr class="product_property fields" data-item-id=<%= "#{variant.id}" %> data-hook="variant">
                        <td class="move-handle text-center">
                          <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                        </td>
                        <td><%= variant.name %></td>
                        <td><%= variant.slug %></td>
                        <td><%= variant.sku %></td>
                        <td class="actions">
                          <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                            <%= edit_button edit_admin_design_variant_path @design, variant %>
                            <%= delete_button admin_design_variant_path @design, variant %>
                          </div>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
            <% end %>

            <%= paginate @variants %>

        <% else %>
            <p>No variants found. <%= link_to 'Create one.', new_admin_design_variant_path(@design) %></p>
        <% end %>

    <% end %>

    <%= content_tag :div, class: 'col-md-3' do %>
        <%= render partial: 'admin/designs/subnav', locals: { current: 'variants' } %>
    <% end %>
<% end %>
