<script>
    $(function() {
        Astek.product_exports.design_name_autocomplete();
    });
</script>

<% content_for :header_left do %>
  <%= content_tag :h1, [
      link_to('Order Limits Exports', export_by_collection_admin_order_limits_exports_path),
      'Export by Design'
  ].join(' / ').html_safe %>
<% end %>

<%= render partial: 'admin/shared/header' %>

<%= content_tag :div, class: 'export_form' do %>
  <%= content_tag :div, class: 'row' do %>

    <%= content_tag :div, class: 'col-md-9' do %>

      <p class="help-block">
        Enter a design name and submit to download a CSV file of that design's data for export to FedEx CrossBorder.
      </p>

      <%= form_tag generate_design_csv_admin_order_limits_exports_path, method: :get do %>
        <%= hidden_field_tag 'website_id', @website_id %>

        <%= content_tag :div, class: 'col-md-6' do %>
          <%= content_tag :div, class: 'form-group' do %>
            <%= label_tag 'design_id', 'Design' %> <span class="required">*</span>
            <%= text_field_tag "design_name_#{SecureRandom.hex}", nil, { id: 'design_name', class: 'form-control', required: true, autocomplete: 'off' } %>
            <%= hidden_field_tag 'design_id' %>
          <% end %>
        <% end %>

        <%= content_tag :div, { class: 'col-md-2', id: 'product-export-submit-container' } do %>
          <%= submit_button %>
        <% end %>
      <% end %>

    <% end %>

    <%= content_tag :div, class: 'col-md-3' do %>
      <%= render partial: 'subnav', locals: { current: 'by_design' } %>
    <% end %>

  <% end %>
<% end %>
