<script>
    $(function() {
        Astek.product_exports.collection_name_autocomplete();
    });
</script>

<% content_for :header_left do %>
  <%= content_tag :h1, [
      link_to('Order Limits Exports', export_by_collection_admin_order_limits_exports_path),
      'Export by Collection'
  ].join(' / ').html_safe %>
<% end %>

<%= render partial: 'admin/shared/header' %>

<%= content_tag :div, class: 'export_form' do %>
  <%= content_tag :div, class: 'row' do %>

    <%= content_tag :div, class: 'col-md-9' do %>

      <p class="help-block">
        Enter a collection name and submit to download a csv file of that colection's minimum and maximum order quantities.
      </p>

      <%= form_tag generate_collection_csv_admin_order_limits_exports_path, method: :get do %>
        <%= hidden_field_tag 'website_id', @website_id %>

        <%= content_tag :div, class: 'col-md-6' do %>
          <%= content_tag :div, class: 'form-group' do %>
            <%= label_tag 'collection_id', 'Collection' %> <span class="required">*</span>
            <%= text_field_tag 'collection_name', nil, { id: 'collection_name', class: 'form-control', required: true, autocomplete: 'false' } %>
            <%= hidden_field_tag 'collection_id' %>
          <% end %>
        <% end %>

        <%= content_tag :div, { class: 'col-md-3', id: 'order-limits-export-submit-container' } do %>
          <%= submit_button %>
        <% end %>
      <% end %>

    <% end %>

    <%= content_tag :div, class: 'col-md-3' do %>
      <%= render partial: 'subnav', locals: { current: 'by_collection' } %>
    <% end %>

  <% end %>
<% end %>
