<%= content_tag :div, class: 'row' do %>
  <%= content_tag :div, class: ['col-md-6'] do %>
    <%= content_tag :div, class: ['form-group'] do %>
      <%= f.label :product_category_id, 'Product Category' %> <span class="required">*</span>
      <%#= f.grouped_collection_select :product_type_id, @product_categories, :product_types, :name, :id, :name, { prompt: 'Select' }, { required: true, class: 'form-control' } %>
      <%= f.collection_select :product_category_id, @product_categories, :id, :name, { prompt: 'Select' }, { required: true, class: 'form-control' } %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: ['col-md-6'] do %>
    <%= content_tag :div, class: ['form-group'], id: 'lead-time-group' do %>
      <%= f.label :lead_time_id, 'Lead Time' %> <span class="required">*</span>
      <%= f.collection_select :lead_time_id, @lead_times, :id, :name, { prompt: 'Select' }, { required: true, class: 'form-control' } %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
  <%= f.label :name, 'Name <span class="required">*</span>'.html_safe %>
    <%= f.text_field :name, required: true, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description, rows: 6, required: false, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
  <%= f.label :keyword_list, 'Keywords' %>
  <%= f.text_field :keyword_list, value: @collection.keyword_list.join(', '), class: 'form-control' %>
<% end %>

<%= field_set_tag nil, 'data-hook': 'collection-websites' do %>
  <%= content_tag :div, class: 'panel panel-default' do %>
    <%= content_tag :div, 'Websites', class: 'panel-heading' %>
    <%= content_tag :div, class: 'panel-body' do %>
      <%= collection_check_boxes(:collection, :website_ids, @websites, :id, :name) do |b| %>
        <%= content_tag :div, class: 'checkbox-inline' do %>
          <%= b.label() { b.check_box + b.text } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag :div, class: 'panel panel-default' do %>
  <%= content_tag :div, 'Website Settings', class: 'panel-heading' %>

  <%= content_tag :div, class: 'panel-body' do %>

    <%= content_tag :div, class: 'col-md-6' do %>
      <%= content_tag :div, class: 'checkbox', id: 'suppress-from-display' do %>
        <%= f.label :suppress_from_display do %>
          <%= f.check_box :suppress_from_display %> Do not show this collection on websites (but show its designs)
        <% end %>
      <% end %>

      <%= content_tag :div, class: 'checkbox', id: 'suppress_sample_option_from_display' do %>
        <%= f.label :suppress_sample_option_from_display do %>
          <%= f.check_box :suppress_sample_option_from_display %> Do not show sample option on websites
        <% end %>
      <% end %>
    <% end %>

    <%= content_tag :div, class: 'col-md-6' do %>
      <%= content_tag :div, class: 'checkbox', id: 'prepend_collection_name_to_design_names' do %>
        <%= f.label :prepend_collection_name_to_design_names do %>
          <%= f.check_box :prepend_collection_name_to_design_names %> Prepend collection name to design names
        <% end %>
      <% end %>
    <% end %>

  <% end %>
<% end %>
