<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :product_type_id, 'Product Type' %> <span class="required">*</span>
    <%= f.grouped_collection_select :product_type_id, @product_type_groups, :product_types, :name, :id, :name, { prompt: 'Select' }, { required: true, class: 'form-control' } %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
  <%= f.label :vendor_id, 'Vendor' %> <span class="required">*</span>
  <%= f.collection_select :vendor_id, Vendor.all, :id, :name, { prompt: 'Select' }, { required: true, class: 'form-control' } %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :name, 'Name' %> <span class="required">*</span>
    <%= f.text_field :name, required: true, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :description, 'Description' %> <span class="required">*</span>
    <%= f.text_area :description, rows: 6, required: true, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :keywords, 'Keywords' %> <span class="required">*</span>
    <%= f.text_area :keywords, rows: 3, required: true, class: 'form-control' %>
<% end %>

<% if @collection.persisted? %>
    <%= content_tag :div, class: ['form-group'] do %>
        <%= f.label :slug, 'Slug' %> <span class="required">*</span>
        <%= f.text_field :slug, required: true, class: 'form-control' %>
    <% end %>
<% end %>
