<% content_for :header_left do %>
  <%= content_tag :h1, 'Collections' %>
<% end %>

<% content_for :header_right do %>
    <%= link_to 'New Collection', new_admin_collection_path, class: 'btn btn-success' %>
<% end %>

<%= render partial: 'admin/shared/header' %>

<div>

  <% if @collections.any? %>

    <%= paginate @collections %>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>Websites</th>
          <th class="actions"></th>
        </tr>
        </thead>

        <tbody>
        <% @collections.each do |collection| %>
            <tr class="product_property fields" data-hook="collection">
              <td><%= collection.name %></td>
              <td><%= collection.product_category.name %></td>
              <td><%= truncate(sanitize(collection.description), length: 90) %></td>
              <td><%= collection.websites.map { |w| w.name }.join(', ') %></td>
              <td class="actions">
                <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                  <%= edit_button edit_admin_collection_path collection %>
                  <%= delete_button admin_collection_path collection %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @collections %>

  <% else %>
    <p>No collections found. <%= link_to 'Create one.', new_admin_collection_path %></p>
  <% end %>

</div>
