
<%= content_tag :div, class: ['form-group'] do %>
  <%= f.label(:name, 'Name <span class="required">*</span>'.html_safe) %>
  <%= f.text_field :name, required: true, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
  <%= f.label :description %>
  <%= f.text_area :description, rows: 3, class: 'form-control' %>
<% end %>
