<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :name, 'Name' %> <span class="required">*</span>
    <%= f.text_field :name, required: true, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :presentation, 'Presentation' %> <span class="required">*</span>
    <%= f.text_field :presentation, required: true, class: 'form-control' %>
<% end %>

<%= content_tag :div, class: ['form-group'] do %>
    <%= f.label :klass_scope, 'Scope' %> <span class="required">*</span>
    <%= f.select :klass_scope, options_for_select(%w[Variant Design], @property.klass_scope), { prompt: 'Select' }, { required: true, class: 'form-control' } %>
<% end %>
