<% content_for :header_left do %>
  <%= content_tag :h1, [
      link_to('Substrate Exports', admin_substrate_exports_path),
      @website.name
  ].join(' / ').html_safe %>
<% end %>

<%= render partial: 'admin/shared/header' %>

<%= content_tag :div, class: 'col-md-9' do %>
  <p>Copy and paste the information below into the Value field of the substrates Shop metafield in
    the Shopify admin interface for <%= @website.name %>.</p>
  <%= text_area_tag 'substrate-json-data',
        (render partial: 'admin/substrate_exports/substrates.json',
            locals: { substrates: @substrates, website: @website }),
        class: 'to-copy',
        disabled: true %>
<% end %>
<%= content_tag :div, class: 'col-md-1' do %>
  <button id="copy-to-clipboard" type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Copy
  </button>
<% end %>
