<% content_for :header_left do %>
  <%= content_tag :h1, link_to('Substrate Exports', admin_substrate_exports_path) %>
<% end %>

<%= render partial: 'admin/shared/header' %>

<%= content_tag :div, class: 'export_form' do %>
  <%= content_tag :div, class: 'row' do %>

    <%= content_tag :div, class: 'col-md-9' do %>

      <p class="help-block">
        Select a website and submit to generate a JSON file of substrate information for the selected website.
      </p>

      <%= form_tag export_by_domain_admin_substrate_exports_path, method: :get do %>
        <%= content_tag :div, { class: 'col-md-7' } do %>
          <%= content_tag :div, class: 'form-group' do %>
            <%= label_tag 'website_id', 'Website' %> <span class="required">*</span>
            <%= select_tag 'website_id', options_from_collection_for_select(@websites, :id, :name), { prompt: 'Select', id: 'website_id', class: 'form-control', required: true } %>
          <%end %>
        <%end %>

        <%= content_tag :div, { class: 'col-md-5', id: 'substrate-export-submit-container' } do %>
          <%= submit_button %>
        <% end %>
      <% end %>

    <% end %>

  <% end %>
<% end %>