<% content_for :header_left do %>
    <%= content_tag :h1,
                    [link_to('Designs', admin_designs_path(@design)),
                     link_to(@design.name, admin_design_path(@design)),
                     link_to('Images', admin_design_design_images_path(@design)),
                     'New Image'].join(' / ').html_safe %>
<% end %>

<%= render partial: 'admin/shared/header' %>

<%= content_tag :div, class: 'col-md-9' do %>
    <%= form_for [:admin, :design, @design_image], html: { multipart: true } do |f| %>
        <%= field_set_tag nil, 'data-hook': 'design_image_new' do %>
            <%= content_tag :div, class: ['form-group'] do %>
                <%= f.label :file, 'Image' %> <span class="required">*</span>
                <%= f.file_field :file, required: true, class: 'form-control' %>
                <%= f.hidden_field :image_type, value: @design_image.class.name %>
                <%= f.hidden_field :owner_id, value: @design.id %>
                <%#= f.hidden_field :image_cache %>
            <% end %>
        <% end %>

        <%= content_tag :div, class: 'form-actions' do %>
            <%= button_tag 'Submit', class: 'btn btn-primary' %>
            <%= button_tag 'Cancel', type: 'button', class: 'btn btn-default', onclick: "document.location.href='#{admin_design_design_images_path(@design)}'".html_safe %>
        <% end %>
    <% end %>
<% end %>

<%= content_tag :div, class: 'col-md-3' do %>
    <%= render partial: 'admin/designs/subnav', locals: { current: 'images' } %>
<% end %>
