<% content_for :header_left do %>
  <%= content_tag :h1,
    [link_to('Designs', admin_collection_designs_path(@collection)),
    link_to(@design.name, admin_collection_design_path(@collection, @design)),
    link_to('Images', admin_design_design_images_path(@design)),
    'New Image'].join(' / ').html_safe %>
<% end %>

<%= render partial: 'admin/shared/header' %>

<%= content_tag :div, class: 'col-md-9' do %>
    <%= form_for [:admin, :design, @design_image], html: { multipart: true } do |f| %>
        <%= field_set_tag nil, 'data-hook': 'design_image_new' do %>
            <%= content_tag :div, class: ['form-group'] do %>
                <%= f.label :file, 'Image' %> <span class="required">*</span>
                <%= f.file_field :file, required: true, class: 'form-control' %>
                <%#= f.hidden_field :image_type, value: @design_image.class.name %>
                <%= f.hidden_field :owner_id, value: @design.id %>
            <% end %>
        <% end %>

        <%= form_buttons admin_design_design_images_path(@design) %>
    <% end %>
<% end %>

<%= content_tag :div, class: 'col-md-3' do %>
    <%= render partial: 'admin/collection_designs/subnav', locals: { current: 'images' } %>
<% end %>
